@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  font-size: 2vh;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
}
/* header */
header {
  position: relative;
  width: 100vw;
  height: 25vh;
  border-bottom: 7px solid #eee;
}

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #222;
  font-size: 5rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.tip {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.restart {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  /* ? */
  position: absolute;
  top: 2rem;
  left: 2rem;
}

/* nav */
nav {
  font-size: 3rem;
  position: fixed;
  top: 27vh;
  left: 2vh;
  z-index: 20;
}
nav > ul.menu {
  display: inline-block;
  width: fit-content;
  padding: 0.5vh 2vw;
  border-radius: 5vh;
  background-color: white;
  color: black;
  align-content: center;
  text-align: center;
}

.submenu {
  font-size: 2rem;
  text-align: left;
  padding: 1vh 1vw;
  display: none;
  position: relative;
}

.submenu li a {
  padding: 0.5vh 0;
  text-decoration: none;
  color: crimson;
}

ul.menu:hover .submenu {
  display: block;
}

/* main */
main {
  z-index: 1;
  position: relative;
  top: 10vh;
  left: 5vw;
  border: 7px solid white;
  min-height: 50vh;
  height: fit-content;
  width: 90vw;
}
main form {
  font-size: medium;
  margin: 1vh 2vw;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1vh;
}

form.contactForm input,
form.contactForm textarea {
  text-transform: capitalize;
}

form input:nth-of-type(2) {
  text-transform: none;
}

.inputBody {
  height: 15vh;
  max-width: 100%;
  padding: 1vh 1vw;
  max-height: 20vh;
}

/* main img (contact submitted) */

main img {
  display: block;
  height: 50vh;
  margin: 0 auto;
}

/* footer */
footer {
  padding: 0.5vh 1vw;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  bottom: 0vh;
  border-top: 7px solid white;
  height: 7vh;
  width: 100vw;
}

footer a:last-child {
  color: white;
}

.fontFamily {
  font-size: 0.4em;
}

@media (max-width: 900px) {
  body {
    background-color: blue;
    min-width: 800px;
  }
  main {
    min-width: 800px;
  }
}
