<h1><%= header.gameTitle %></h1>
<p class="tip"><%= header.gameTip %></p>
<button class="restart" title="Restart is for the WEAK! You disgust me!!">
  <%= header.message %>
</button>
<div class="number"><%= header.highscore %></div>
