<h1><%= header.gameTitle %></h1>
<p class="tip">
  <%= header.gameTip %><br />
  Press Escape to restart
</p>
<button class="restart" title="Restart is for the WEAK! You disgust me!!">
  <%= header.message %>
</button>
<div class="number"><%= header.highscore %></div>
