<ul class="menu">
  <li>&#8801;</li>
  <li>
    <ul class="submenu">
      <% nav_list.values.forEach(element =>{ %>
      <li><a href=""><%= element %></a></li>
      <% }) %>
    </ul>
  </li>
</ul>
